{{#if resume.projects.length}}
<section id="projects">
  <h2>Projects</h2>
  {{#each resume.projects}}
    {{#if name}}
      {{#> item title=name subtitle=description url=url mainUrl=url}}

      {{#if highlights.length}}
      <ul class="highlights">
        {{#each highlights}}
        <li>{{{.}}}</li>
        {{/each}}
      </ul>
      {{/if}}

      {{/item}}
    {{/if}}
  {{/each}}
</section>
{{/if}}
